body{
    background: #00fbff;
    background: radial-gradient(circle,rgba(0, 251, 255, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
    flex-direction: row;
    width: 100%;
    border-radius: 0 0 40px 40px;
    height: 5%;
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 5%;
    float: right;
    margin-bottom: 50%;
}

.link{
    font-size: 30px;
    margin: 5%;
    text-decoration: none;
    color: black;
}

.link a:hover{
    text-decoration: underline;
    color: greenyellow;
}

.btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
    scale: 0.92;
}

.btn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

