{%extends 'base.html'%}
{%load static%}
    {%block content%}
    <body style="text-align: center;">
        <h1>Landing Page</h1>
        <div>
        <ul class="navbar">
            <li><a href="{%url 'register'%}" class="link">SignUp</a></li>
            <li><a href="{%url 'profile'%}" class="link">Profile</a></li>
            <li><a href="{%url 'landing'%}" class="link">Landing</a></li>
            <li><a href="{%url 'login'%}" class="btn">Login</a></li>
            <li><a href="{%url 'logout'%}" class="btn">Logout</a></li>
        </ul>
    </div>

    </body>
    {%endblock content%}
